﻿@using Capstone.Web.Models
@model List<RecipeModel>

@{
    ViewBag.Title = "Admin";
}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="~/Content/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="~/Content/masonry-docs.min.js"></script>
<script type="text/javascript" src="~/Content/jquery.js"></script>


<script src="~/Content/jquery.min.js"></script>
<script src="~/Content/bootstrap.min.js"></script>

<h2>Admin</h2>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery-3.1.1.intellisense.js"></script>

<p></p>
@using (Html.BeginForm("Admin", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h4>Recipes That Want To Be Made Public:</h4>
    <table class="table image_border_bottom">
        <tr class="image_table_row">
            <th>
                Recipe ID
            </th>
            <th>
                Name
            </th>
            <th>
                Directions
            </th>
            <th>
                User ID
            </th>
            <th>
                User Name
            </th>
            <th>
                Ingredients
            </th>
            <th>
                Public
            </th>
            <th>Delete Recipe</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            if (Model[i].Publics == 1 && Model[i].Approved == 0)
            {
                <tr class="image_table_row">
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].RecipeID)
                        @Html.HiddenFor(modelItem => Model[i].RecipeID)
                    </td>
                    <td>
                        @Html.ActionLink(Model[i].Name, "Details", new { id = Model[i].RecipeID })
                        @Html.HiddenFor(modelItem => Model[i].Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].Directions)
                        @Html.HiddenFor(modelItem => Model[i].Directions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].UserID)
                        @Html.HiddenFor(modelItem => Model[i].UserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].UserName)
                        @Html.HiddenFor(modelItem => Model[i].UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].Ingredients)
                        @Html.HiddenFor(modelItem => Model[i].Ingredients)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => Model[i].IsPublics)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => Model[i].DeleteRecipe)
                    </td>

                </tr>
            }
            else
            {
                @Html.HiddenFor(modelItem => Model[i].RecipeID)
                @Html.HiddenFor(modelItem => Model[i].Name)
                @Html.HiddenFor(modelItem => Model[i].Directions)
                @Html.HiddenFor(modelItem => Model[i].UserID)
                @Html.HiddenFor(modelItem => Model[i].UserName)
                @Html.HiddenFor(modelItem => Model[i].Ingredients)
                @Html.HiddenFor(modelItem => Model[i].ImageName)
                @Html.HiddenFor(modelItem => Model[i].Tags)

            }
        }


    </table>
    <button class="btn btn-outline-dark">Submit</button>


}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h4><b>Add or Change Recipe Image:</b></h4></div>
<div class="table-striped">
<table class="table-striped">
    <tr>
        <td><b>Recipe Name</b></td>
        <td><b>Image Name</b></td>
        <td style="float:right"><b>Add or Change Image</b></td>
    </tr>

    @for (int i = Model.Count - 1; i >= 0; i--)
    {
        using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {


            <tr>
                <td>
                    @Html.ActionLink(Model[i].Name, "Details", new { id = Model[i].RecipeID })
                </td>
                    @Html.HiddenFor(modelItem => Model[i].Name)
                    <td>@Html.DisplayFor(modelItem => Model[i].ImageName)</td>
                    @*@Html.HiddenFor(modelItem => Model[i].RecipeID)*@
                    <td><input name="recipeId" type="hidden" value="@Model[i].RecipeID" /></td>
                
                @*<td class="form-group">
                    @Html.TextBoxFor(m => m[i].ImageName, htmlAttributes: new { @class = "form-control col-md-4", rows = "10" })
                    <input type="file" class="btn btn-outline-dark" name="file" />
                    <input type="submit" class="btn btn-outline-dark" value="OK" />
                </td>*@
                <td>
                    @Html.TextBoxFor(modelItem => Model[i].ImageName, htmlAttributes: new { @class = "form-control col-md-4", rows = "10" })
                    <button class="btn btn-outline-secondary">Submit</button>
                </td>
                @*@(ViewBag.Model = Model[i])*@
            </tr>
        }


    }
</table>
    </div>
    </div>
    </div>

<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        @using (Html.BeginForm("Admin", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <table class="image_border_bottom table text-center">
                <tr>
                    <td>
                        <h4>All Recipes, Delete If Wanted</h4>
                    </td>
                </tr>
                <tr class="image_table_row">
                    <td>Name</td>
                    <td>Delete?</td>
                </tr>


                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr class="image_table_row">
                        <td>
                            @Html.ActionLink(Model[i].Name, "Details", new { id = Model[i].RecipeID })
                            @Html.HiddenFor(modelItem => Model[i].Name)
                            @Html.HiddenFor(modelItem => Model[i].RecipeID)
                        </td>
                        <td>
                            @Html.CheckBoxFor(modelItem => Model[i].DeleteRecipe)
                        </td>
                    </tr>
                }
            </table>
            <button class="btn btn-outline-dark">Submit</button>
        }
    </div>
    <div class="col-md-3"></div>
</div>
<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        @using (Html.BeginForm("Update", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            List<UserModel> users = ViewBag.Users;
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Make Registered User Admin</h4>
                </div>

                <div class="panel-body">

                    @for (int i = 0; i < users.Count; i++)
                    {
                        <div class="col-md-1">
                            @Html.DisplayFor(modelItem => users[i].UserName)
                        </div>
                        <div>
                            @Html.ActionLink("Make Admin", "Update", new { id = users[i].UserID })
                        </div>
                        <hr />
                    }

                    @*@(ViewBag.Users = users)*@
                    @*<button class="btn btn-outline-dark">Submit</button>*@
                </div>
            </div>
        }
    </div>
    <div class="col-md-3"></div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Users Subscribed to Emails</h4>
        </div>
        <div class="panel-body">
            <div class="table-bordered">
                <table class="table">
                    <tr>
                        <td>
                            <b>Email</b>
                        </td>
                        <td>
                            <b>UserName</b>
                        </td>
                        <td>
                            <b>UserID</b>
                        </td>
                    </tr>
                    @foreach (UserModel u in Session["subscribers"] as List<UserModel>)
                    {
                        <tr>
                            <td>
                                @u.Email
                            </td>
                            <td>
                                @u.UserName
                            </td>
                            <td>
                                @u.UserID
                            </td>
                        </tr>
                    }
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
</div>


